*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    text-align: center;
    margin: 1rem;
}

h3 span{
    text-decoration: underline;
}

.btn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

button{
    display: block;
    border: none;
    border-radius: 0.5em;
    outline: none;
    padding: .6rem 1.5rem;
    color: white;
    font-size: 1rem;
    background-color: grey;
}

button:hover{
    cursor: pointer;
}

button:nth-of-type(1){
    background-color: rgb(222, 222, 52);
}

button:nth-of-type(2){
    background-color: rgb(64, 64, 225);
}

button:nth-of-type(3){
    background-color: rgb(90, 193, 90);
}

button:nth-of-type(4){
    background-color: red;
}


/* OUTPUT STYLING */

.output{
    background: rgba(0, 0, 0, 0.2);
    margin: 2rem 4rem;
    padding: 2rem ;
    overflow: hidden;
}

.output:nth-of-type(1){
    padding:0.2rem;
}

.output h2{
    text-align: start;
}

.output-header{
    margin-bottom: 1rem;
    text-decoration: underline;
    font-weight: 700;
}

.pre p{
    display: contents;
}